.App {
  text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   flex-direction: column;
   text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.btn{
  background-image: linear-gradient(to right, #16A085 0%, #F4D03F  51%, #16A085  100%);
  background-size: 200% auto;
  border: 0.25px;
  padding: 0.5rem 2.5rem;
  margin: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  color:white;
}
.btn:hover{
  background-position: right center;
  transition: all 1s;
}
.topheading{
  margin: 1rem;
}
span{
  font-size: larger;
}
/* input{
  margin: 0.5rem;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  border: 0.1px solid rgba(0,0,0,0.2);
  background: none;
} */
input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  border-radius: 0.5rem;
  background-color: white;
  padding: 6px 12px;
  cursor: pointer;
}

form {
  display:flex;
  flex-direction: column;
}

.inputimg1{
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: 0.125px solid rgba(0,0,0,0.2);
  border-radius: 0.5rem;
}
.inputimg1:focus{
  outline: none;
}
.inputimg2{
  margin-top:0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem 1rem;
  border: 0.125px solid rgba(0,0,0,0.2);
  border-radius: 0.5rem;
}
.inputimg2:focus{
  outline: none;
}
.inputimg3{
  padding: 0.5rem 1rem;
  border: 0.125px solid rgba(0,0,0,0.2);
  border-radius: 0.5rem;
}
.inputimg3:focus{
  outline: none;
}

::placeholder{
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0.5;
}

         
